.banner {
  color: white;
  object-fit: contain;
  height: 500px;
  position: relative;
}

.banner__contents {
  margin-left: 40px;
  padding-top: 150px;
  height: 200px;
}

.banner__title {
  font-size: 3.2rem;
  font-weight: 800;
  padding-bottom: 0.5rem;
}

.banner__description {
  width: 48rem;
  line-height: 1.4;
  padding-top: 1rem;
  font-size: 0.9rem;
  max-width: 380px;
  height: 85px;
}

.banner__button {
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.3vw;
  padding-left: 2.2rem;
  padding-right: 2.2rem;
  margin-right: 1rem;
  padding-top: 0.7rem;
  background-color: rgba(51, 51, 51, 0.7);
  padding-bottom: 0.7rem;
  font-size: 1rem;
}
.play {
  background-color: #fff;
  color: #000;
}

.banner__button:hover {
  color: #000;
  background-color: #e6e6e6;
  transition: all 0.2s;
  transform: scale(1.05);
}

.banner--fadeBottom {
  height: 8rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.7),
    #111
  );
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}