
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font-base: "Overpass", sans-serif;
    --font-second-base: 'Inter', sans-serif;
    --bg-color: #111;
    --primary-color: #fff;
    --secondary-color: #e50914;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: #111;
}